<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hanging Hashtags</title>
    <script>
      window.config = {
        API_URL: "<%= process.env.API_URL %>",
        ENV: "<%= process.env.ENV %>",
        gaTrackerId: "<%= process.env.gaTrackerId %>"
      }
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="<%= process.env.memberAssetUrl %>/main.bundle.js"></script>
  </body>
</html>
